@import '../../../../node_modules/.pnpm/tailwindcss@4.1.17/node_modules/tailwindcss/dist/lib.d.mts';

:root {
  --gradient-primary: linear-gradient(135deg, #dacefb, #966ff3);
  --gradient-secondary: linear-gradient(135deg, #f8e4d0, #e27d26);
  --gradient-tertiary: linear-gradient(135deg, #dcf4e9, #74c898);
}
