name: on branch push

on:
  pull_request:
  push:
    branches:
      - main
      - develop

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: dafnik/setup-node-pnpm@v5
        with:
          install-ignore-scripts: true

      - name: Style check
        run: pnpm format:check

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: dafnik/setup-node-pnpm@v5
        with:
          install-ignore-scripts: true

      - name: ESLint
        run: pnpm lint

  commitlint:
    name: Commitlint Check
    runs-on: ubuntu-latest
    steps:
      # Needed to get the commitlint config
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Commit lint
        uses: dafnik/commitlint@v1

  # JOB to run change detection
  changes:
    runs-on: ubuntu-latest
    # Required permissions
    permissions:
      pull-requests: read
    outputs:
      # Expose matched filters as job 'packages' output variable
      libs: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@v6

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            dfx-helper:
              - 'libs/dfx-helper/**'
              - '{package,nx,migrations,tsconfig.base}.json'
              - 'pnpm-lock.yaml'
              - '.github/**'
            dfx-qrcode:
              - 'libs/dfx-qrcode/**'
              - '{package,nx,migrations,tsconfig.base}.json'
              - 'pnpm-lock.yaml'
              - '.github/**'
            dfx-bootstrap-icons:
              - 'libs/dfx-bootstrap-icons/**'
              - '{package,nx,migrations,tsconfig.base}.json'
              - 'pnpm-lock.yaml'
              - '.github/**'
            dfx-openapi:
              - 'libs/dfx-openapi/**'
              - '{package,nx,migrations,tsconfig.base}.json'
              - 'pnpm-lock.yaml'
              - '.github/**'

  test:
    name: Test ${{ matrix.lib }}
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: changes
    if: ${{ needs.changes.outputs.libs != '[]' && needs.changes.outputs.libs != '' }}
    strategy:
      matrix:
        lib: ${{ fromJSON(needs.changes.outputs.libs) }}
    steps:
      - name: test
        uses: ./.github/actions/test
        with:
          library: ${{ matrix.lib }}

  build-lib:
    name: Build ${{ matrix.lib }}
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.libs != '[]' && needs.changes.outputs.libs != '' }}
    strategy:
      matrix:
        lib: ${{ fromJSON(needs.changes.outputs.libs) }}
    steps:
      - uses: actions/checkout@v6

      - name: setup node and pnpm
        uses: dafnik/setup-node-pnpm@v5
        with:
          install-ignore-scripts: true

      - name: build ${{ matrix.lib }}
        run: ng build ${{ matrix.lib }}

      - name: zip ${{ matrix.lib }}
        run: |
          cd ./dist/
          zip -r "${{ matrix.lib }}.zip" ./${{ matrix.lib }}
          cd -

      - uses: actions/upload-artifact@v5
        name: create ${{ matrix.lib }} artifact
        with:
          name: ${{ matrix.lib }}
          path: ./dist/libs/${{ matrix.lib }}.zip
          retention-days: 1

  build-playground:
    name: Build playground
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: setup node and pnpm
        uses: dafnik/setup-node-pnpm@v5
        with:
          install-ignore-scripts: true

      - name: build playground
        run: pnpm build:playground

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./projects/playground/dist/
          retention-days: 1

  deploy-playground:
    if: github.ref == 'refs/heads/main'
    name: Deploy playground
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build-playground
    permissions:
      actions: read
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
